body {
    font-family: Arial, sans-serif;
    font-size: 16PX;
}
header {
    background-color: #4caf50;
}
nav {
    background-color: #2e7d32;
}
main {
    background-color: #f5f5f5;
    font-size: 18px;
}
footer {
    background-color: #4caf50;
}
li {
    display: inline-block;
    width: 120px;
}
h1 {
    text-align: center;
    font-family: 'Georgia',serif;
    color: white;
}
p {
    line-height: 1.6;
}
